@model QuanLyNhanSu.Models.ChucVuNhanVien

@using QuanLyNhanSu.Models
@{
    ViewBag.Title = "Thêm Chức Vụ";
}

<div class="">
    <div class="">
        <h1 class="page-header">
            Thêm Chức Vụ
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i> <a href="@Url.Action("index","Admin")">Tổng quan</a>
            </li>
            <li>
                <i class="fa fa-user"></i> Chức vụ
            </li>
        </ol>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="col-md-offset-2 col-md-8">
        <div class="form-horizontal">
            @Html.ValidationSummary(true)

            <div class="form-group">
                <label class="control-label col-md-offset-1 col-md-4 col-sm-4">Mã chức vụ</label>
                <div class="col-md-4 col-sm-8">
                    @Html.TextBoxFor(model => model.MaChucVuNV, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.MaChucVuNV)
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-offset-1 col-md-4 col-sm-4">Tên chức vụ</label>
                <div class="col-md-4 col-sm-8">
                    @Html.TextBoxFor(model => model.TenChucVu, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.TenChucVu)
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-offset-1 col-md-4 col-sm-4">Hệ số phụ cấp</label>
                <div class="col-md-4 col-sm-8">
                    @Html.TextBoxFor(model => model.HSPC, new { @class = "form-control", title = "Hệ số phụ cấp" })
                    @Html.ValidationMessageFor(model => model.HSPC)
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-4 col-md-offset-5 col-sm-8">
                    <input type="submit" value="Xác nhận" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
}
