@model IEnumerable<QuanLyNhanSu.Models.BangChamCong>
@{
    ViewBag.Title = "Quản lý chấm công";
    var db = new QuanLyNhanSu.Models.QuanLyNhanSuEntities();
    var datenow = DateTime.Now.Date;
}


<h2>Quản lý chấm công</h2>
<div style="margin:10px">
    <button onclick="window.location.href='/admin/QuanLyChamCong/QuanLyChamCong'" class="btn btn-success">Tạo code chấm công mới</button>
</div>
<table border="1" style="margin:10px;">
    <thead >
        <tr>
            <th style="padding:5px; font-size:20px;">Code chấm công hôm nay</th>
        </tr>
    </thead>
    <tbody >
        <tr>
             <td style="color: forestgreen; padding: 5px; font-size: 20px; text-align:center; background-color:#9dd9df;">@ViewBag.CodeChamCong</td>
        </tr>
    </tbody>
</table>
<form method="get" action="/admin/QuanLyChamCong/QuanLyChamCong" style="margin:10px">
    <table>
        <tr>
            <td>
                <label for="maNhanVien">Mã nhân viên:</label>
            </td>
            <td>
                <input type="text" id="maNhanVien" name="maNhanVien" value="@Request.QueryString["maNhanVien"]" />
            </td>
        </tr>
        <tr>
            <td>
                <label for="thang">Tháng:</label>
            </td>
            <td>
                <input type="number" id="thang" name="thang" value="@Request.QueryString["thang"]" />
            </td>
        </tr>
        <tr>
            <td>
                <label for="nam">Năm:</label>
            </td>
            <td>
                <input type="number" id="thang" name="thang" value="@Request.QueryString["thang"]" />
            </td>
        </tr>
        <tr>
            <td colspan="2" class="text-right" style="padding-top:4px;">
                <button type="submit" class="text-center btn btn-primary">Lọc</button>
            </td>
        </tr>
    </table>
</form>

<table border="1" id="table-taikhoan" class="table table-responsive table-bordered table-striped" style="margin:10px">
    <thead>
        <tr class="success">
            <th>Mã nhân viên</th>
            <th>Tên nhân viên</th>
            <th>Ngày chấm công</th>
            <th>Ghi chú</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.MaNhanVien</td>
                <td>@db.NhanViens.SingleOrDefault(m=>m.MaNhanVien == item.MaNhanVien).HoTen</td>
                <td>@item.NgayChamCong</td>
                <td>@item.GhiChu</td>
            </tr>
        }
    </tbody>
</table>
