@model QuanLyNhanSu.Models.ChuyenNganh

@{
    ViewBag.Title = "Xóa Chuyên Ngành";
}

<h2>Xóa Chuyên Ngành</h2>

<h3>Bạn có chắc chắn muốn xóa chuyên ngành này?</h3>
<div>
    <h4>Chuyên Ngành</h4>
    <div>
        <dl class="dl-horizontal">
            <dt>@Html.DisplayName("Mã chuyên ngành")</dt>
            <dd>@Model.MaChuyenNganh</dd>
            <dt>@Html.DisplayName("Tên chuyên ngành")</dt>
            <dd>@Model.TenChuyenNganh</dd>
        </dl>
    </div>
    @using (Html.BeginForm("DeleteConfirmed", "QuanLyChuyenNganh"))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.MaChuyenNganh)
        <input type="text" name="id" hidden value="@Model.MaChuyenNganh"/>
        <input type="submit" value="Xóa" class="btn btn-danger" />
        @Html.ActionLink("Quay lại", "Index", null, new { @class = "btn btn-default" })
    
    }
    </div>
