@model QuanLyNhanSu.Models.ChuyenNganh

@{
    ViewBag.Title = "Cập nhật Chuyên Ngành";
}

<h2>Cập nhật Chuyên Ngành</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.MaChuyenNganh)
    <input type="text" hidden name="id" value="@Model.MaChuyenNganh" />
    <div class="form-group">
        @Html.Label("Tên chuyên ngành")
        @Html.TextBoxFor(model => model.TenChuyenNganh, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.TenChuyenNganh)
    </div>

    <input type="submit" value="Xác nhận" class="btn btn-primary" />
}
