@if (Session["MaNhanVien"] != null)
{
    <ul class="nav navbar-nav navbar-right">
        @{
            String hoten = Session["TenNV"] as String;
            String avatarUrl;
            
            

            if (Session["MaNhanVien"].ToString() == "admin")
            {
                avatarUrl = "admin.jpg";
            }
            else
            {
                avatarUrl = Session["HinhAnh"] as String ?? "~/Content/images/icon.jpg";
            }

            String avatar = Url.Content(avatarUrl);
        }
        <li>
            <a class="dropdown-toggle" style="cursor: pointer;" data-toggle="dropdown">
                <span>
                    @hoten
                    <img src="~/Content/images/@avatarUrl" class="img-circle" style="width:30px; height:30px; margin-right: 5px; margin-left:10px" />
                </span>
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu-sanpham">
                <li role="presentation"><a name="Name" role="menuitem" tabindex="-1" href="@Url.Action("Index", "Newsfeed")">Newsfeed</a></li>
                <li role="presentation"><a name="Name" role="menuitem" tabindex="-1" href="@Url.Action("Index", "Profile", new { maNhanVien = Session["MaNhanVien"] })">Trang cá nhân</a></li>
                <li role="presentation"><a name="Name" role="menuitem" tabindex="-1" href="@Url.Action("UpdateUser", "login")">Cập nhật thông tin</a></li>
                <li role="presentation"><a name="Name" role="menuitem" tabindex="-1" href="@Url.Action("Index", "Message")">Tin nhắn</a></li>
                <li role="presentation"><a name="Name" role="menuitem" tabindex="-1" href="@Url.Action("Index", "Notification")">Thông báo</a></li>
                <li role="presentation"><a name="Name" role="menuitem" tabindex="-1" href="@Url.Action("index", "NhanVien")">Lịch sử nhận lương</a></li>

                <li role="presentation" class="divider"></li>
                <li>@Html.ActionLink("Đăng Xuất", "DangXuat", "login")</li>

            </ul>
        </li>
        <li>
            @Html.ActionLink("Đăng Xuất", "DangXuat", "login", null, new { @style = "color: red;" })
        </li>

    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="@Url.Action("Login", "login")">
                <span class="glyphicon glyphicon-user"></span> Đăng nhập
            </a>
        </li>
    </ul>
}
